<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>一覧</title>
</head>
<body>
<h1>顧客一覧</h1>
<ul>
    {% for customer in customers %}<br>
    <li>{{ customer[0] }}さん {{ customer[1] }}才</li>

    {% endfor %}
</ul>
<form action="" method="post">
    <div>
        <label for="name">名前</label>
        <input type="number" name="name" id="name">
    </div>
    <div>
        <label for="age">年齢</label>
        <input type="number" age="age" id="age">
    </div>
    <input type="submit" value="登録">

</form>
</body>
</html>